
#carouselFamily {
     max-width: 500px; 
     margin: auto; 
     margin-top: 20px;
     margin-bottom: 20px;
 }
 #carouselHG {
     max-width: 500px; 
     margin: auto; 
     margin-top: 20px;
     margin-bottom: 20px;
 }

 #carouselCat {
     max-width: 500px; 
     margin: auto; 
     margin-top: 20px;
     margin-bottom: 20px;
 }
